html {
  text-align: center;
  font-family: Helvetica;
}
.header {
  color: white;
  background-image: url("../Images/background.png");
  background-size: 1830px 310px
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
.header p {
  font-size: 18px;
}
.process h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.new-york {
  background-image: url("../Images/background.png");
  color: white;
}
